header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: aqua;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 25px;

}



.navigation ul{
    display: flex;

}


.nav_li{
    margin-right: 40px;
}

a{
    text-decoration: none;
}


body{
    height: 1500px;
}


.image1{
   
    display: block;
    margin: 0 auto;
    margin-top: 110px;
}



 





.div_1{
    
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
   


}

.div1{
    background-color: aqua;
    width: 350px;
    height: 400px;
    margin-top: 20px;
}

.div1:nth-child(2){
   background-color:red;
    
}

iframe{
    margin-top: 50px;
}

.iframe1{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}


.log1 {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
  }

.d1{
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.d2{
    position: relative;
    width: 450px;
    height: 320px;
    background-color: blueviolet;
}



.p1::selection{
    
    background-color: red;

}


.fa-image{
    display: none;
    
}



.bg-image{
   
    background-image: url( 'https://img.freepik.com/premium-photo/winter-background-with-snowman-illustration-ai-generativexa_115919-18523.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.bg-image::before{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    opacity: 50%

}

a{
    position: relative;

}

a::after{
    content: ' ';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    display: block;
}


a:hover::after{
    width: 100%;
}

.fsevdo::before{
    padding-top: 50px;
    content: ' ';
    background-color: blueviolet;
    width: 10px;
    height: 60px;
    display: inline-block;
}